In [31]:
import pandas as pd
import numpy as np

In [32]:
df=pd.read_csv("loan_ammount.csv")

In [33]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [34]:
df.shape

(614, 13)

In [35]:
# Loan_Id column does not affeted target column , so drop it
df=df.drop("Loan_ID",axis=1)

In [36]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [37]:
df.isnull().sum().sort_values(ascending=False)

Credit_History       50
Self_Employed        32
LoanAmount           22
Dependents           15
Loan_Amount_Term     14
Gender               13
Married               3
Education             0
ApplicantIncome       0
CoapplicantIncome     0
Property_Area         0
Loan_Status           0
dtype: int64

In [38]:
df["Credit_History"].value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [39]:
df["Credit_History"].fillna("NAN", inplace=True)

In [40]:
df["Credit_History"].value_counts()

1.0    475
0.0     89
NAN     50
Name: Credit_History, dtype: int64

In [41]:
df["Credit_History"].replace("NAN",np.nan,inplace=True)

In [42]:
#Replace NAN values with mode 
df["Credit_History"].fillna(df["Credit_History"].mode()[0],inplace=True)

In [43]:
df['Credit_History'].value_counts()

1.0    525
0.0     89
Name: Credit_History, dtype: int64

In [44]:
df["Self_Employed"].value_counts()

No     500
Yes     82
Name: Self_Employed, dtype: int64

In [45]:
#replace with Mode of Self_Employed
df["Self_Employed"].fillna(df["Self_Employed"].mode()[0],inplace=True)

In [46]:
df["LoanAmount"].value_counts()

120.0    20
110.0    17
100.0    15
160.0    12
187.0    12
         ..
240.0     1
214.0     1
59.0      1
166.0     1
253.0     1
Name: LoanAmount, Length: 203, dtype: int64

In [47]:
# Loan Amount values fill using Mean values
df["LoanAmount"].fillna(df["LoanAmount"].mean(),inplace=True)

In [48]:
#Dependents values fill using mode
df["Dependents"].fillna(df["Dependents"].mode()[0],inplace=True)

In [49]:
# Loan_Amount_Term  values fill using Mode
df["Loan_Amount_Term"].fillna(df["Loan_Amount_Term"].mode()[0],inplace=True)

In [50]:
# Gender null values  fill using Mode
df["Gender"].fillna(df["Gender"].mode()[0],inplace=True)

In [51]:
# Married null values fill using mode
df["Married"].fillna(df["Married"].mode()[0],inplace=True)

In [52]:
# All the null values filled up
df.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [53]:
df1=df

### Data Encoding

In [54]:
df.select_dtypes(include=['object','category']).columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'Property_Area', 'Loan_Status'],
      dtype='object')

In [55]:
df["Gender"].value_counts()

Male      502
Female    112
Name: Gender, dtype: int64

In [56]:
df['Gender'] = df['Gender'].map({'Male': 0, 'Female': 1})
df['Married'] = df['Married'].map({'Yes': 0, 'No': 1})

In [57]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,1,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,0,0,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N
2,0,0,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
3,0,0,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
4,0,1,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y